/* @font-face {
    font-family: 'The Seasons';
    src: url(Resources/Fonts/theseasons.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
} */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: #1e1e1e;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.item {
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    background-color: whitesmoke;
    text-align: center;
    box-sizing: border-box;
}

.petrona {
    font-family: Petrona;
}

.antic {
    font-family: Antic
}

.lora {
    font-family: Lora;
}

.donate {
    width: 100%;
    font-size: larger;
}


