:root {
    --main-font-min-size: 1rem;
    --main-font-max-size: 4.5rem;
    --main-font-target-size: 10vw;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffff;

    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: geometricPrecision;
}

/* ------ FONTS ------ */
.main-font {
    font-family: 'the-seasons';
}

.alt-font {
    font-family: Antic
}

/* ------ Major Divs ------ */
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.item {
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.home {
    min-height: 46rem;
    z-index: 1;

    background-image: url(Resources/Images/background_home.webp);
    background-image: url(docs/assets/background_home.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 0rem 0rem 1rem 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .7);
    overflow: hidden;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.donate {
    min-height: 50rem;

    background-color: #FFFF;
    color: #2D3A15;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.donate-title-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    transition: all .2s;
}

.subsection {
    background-color: #1e1e1e;
}

/* ------ Other Divs ------ */
.title {
    font-size: clamp(var(--main-font-min-size),
                var(--main-font-target-size),
                var(--main-font-max-size));
    font-weight: 700;
}

.subtitle {
    font-size: clamp(var(--main-font-min-size),
            calc(var(--main-font-target-size) / 2.5),
            calc(var(--main-font-max-size) / 2.5));
    padding-bottom: 0.8rem;
}

.home-left-padding {
    width: 0%;
    height: 100%;
    transition: all .2s;
}

.home-buttons-div {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.donate-card {
    box-shadow: none;
    border-radius: 0px;
    transition: all ease .2s;
}

.donate-card:hover {
    box-shadow: 5px 5px 16px #b3b3b3,
        -5px -5px 16px #ffffff;
    border-radius: 1rem;
}

/* ------ Buttons ------ */
.home-button {
    --scalor: 2.0;
    height: 40%;

    font-size: clamp(var(--main-font-min-size),
                calc(var(--main-font-target-size) / 1.8 / var(--scalor)),
                calc(var(--main-font-max-size) / 1.8 / var(--scalor)));

    border-radius: 0.3rem;
    border-style: none;

    background-color: #ffffffcc;

    padding: 1%;

    transition: all .2s;
}
.home-button:hover {
    background-color: #ffffffdd;
    height: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
.home-button:active {
    padding-left: 0%;
    padding-right: 0%;
}

.donate-button {
    font-size: clamp(
        var(--main-font-min-size),
        calc(var(--main-font-target-size) / 2),
        calc(var(--main-font-max-size) / 2)
    );

    border-radius: 0.5rem;
    border-style: none;

    background-color: #526D16;
    color: #FFFF;

    margin-top: 1rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    width: clamp(
        var(--main-font-min-size),
        calc(var(--main-font-target-size) * 8 / 2),
        calc(var(--main-font-max-size) * 8 / 2)
    );
    height: clamp(
        var(--main-font-min-size),
        calc(var(--main-font-target-size) * 2 / 2),
        calc(var(--main-font-max-size) * 2 / 2)
    );

    transition: all .3s;
}
.donate-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}
.donate-button:active {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}

.donate-text {
    font-size: clamp(
        var(--main-font-min-size),
        calc(var(--main-font-target-size) / 4),
        calc(var(--main-font-max-size) / 4)
    );

    text-align: left;
}
/* ------ Misc ------ */


@media (max-width: 800px) {
    .home-left-padding {
        width: 8%;
    }

    .home-button {
        height: 20%;
        padding: 1%;
    }
    .home-button:hover {
        height: 30%;
        padding: 1%;
    }
    .home-button:active {
        padding-left: 2%;
        padding-right: 2%;
    }

    .home-buttons-div {
        height: 20%;

        flex-direction: column;
        justify-content: space-evenly;
    }

    .donate-title-div {
        width: 80%;
    }
}

@media (min-width: 1300px) {
    .home-left-padding {
        width: 15%;
    }

    .donate-title-div {
        width: 80%;
    }
}